.input {
    border: 1px solid rgb(129, 129, 129);
    max-width: 700px;
    margin: 50px auto 0;
    padding: 10px;
    border-radius: 5px;
}

.input > div:nth-child(1) {
    display: flex;
}

.input > div:nth-child(1) > img {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.input > div:nth-child(1) > textarea {
    width: 100%;
    resize: none;
    color: white;
    background-color: rgb(116, 116, 116);
    border-radius: 5px;
    padding: 10px;
}

.input > div:nth-child(1) > textarea:focus {
    outline: none;
}

.input > div:nth-child(1) > textarea::placeholder {
    color: rgb(225, 225, 225);
}

.input > img:nth-child(2) {
    margin-top: 20px;
    max-width: 100%;
    max-height: 300px;
}

.box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.box > div {
    width: 20%;
    font-size: 15px;
    padding: 7px 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(144, 144, 144);
}

.box > div:hover {
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: white;
}

.btn {
    text-align: right;
    margin-top: 16px;
}

.btn > button {
    width: 80px;
    padding: 7px 0;
    color: white;
    background-color: rgb(78, 115, 185);
}

.btn > button:hover {
    cursor: pointer;
    background-color: rgb(92, 127, 194);
}